p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --white-color: #FFFFFF;
  --dark-color: #212121;
  --grey-color: #757575;
  --blue-color: #2196F3;
  --icon-color: #AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --gradient: linear-gradient(to right,
  rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.box-title {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  min-width: 200px;
  background: var(--blue-color);
  transition-property: background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.btn:hover, .btn:focus {
  color: var(--white-color);
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: calc(100% - 30px);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
  transition: visibility 250ms var(--cubic);
  padding: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--blue-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin-bottom: 12px;
}

.input-fields {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--grey-color);
  display: block;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.form-input:focus {
  outline-color: var(--blue-color);
  cursor: pointer;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.form-input:focus + .input-icon {
  fill: var(--blue-color);
}

.modal-text {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--dark-color);
}
.modal-text::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:focus {
  outline-color: var(--blue-color);
  cursor: pointer;
}

.input-field-checkbox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  display: flex;
  align-items: center;
  gap: 7px;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.check-text span {
  width: 16px;
  height: 15px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
  cursor: pointer;
}
.input-check:checked + .check-text span {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  box-shadow: none;
}
.input-check:focus + .check-text span {
  border-color: var(--blue-color);
  box-shadow: none;
}

.check-icon {
  fill: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.input-check:checked + .check-text .check-icon {
  fill: var(--white-color);
}

.contract {
  color: var(--blue-color);
}

.form-button {
  padding: 3px 10px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--blue-color);
  transition-property: background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.form-button:hover, .form-button:focus {
  background: #188CE8;
}
@media screen and (min-width: 480px) {
  .form-button {
    padding: 10px 55px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.8;
  }
}

.header {
  background-color: var(--white-color);
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
}
.header .container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-nav {
  display: flex;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue-color);
}

.header-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    display: flex;
  }
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.header-link:hover, .header-link:focus {
  color: var(--blue-color);
}
.header-link.current {
  color: var(--blue-color);
  position: relative;
}
.header-link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -38.5px;
}
@media screen and (min-width: 1200px) {
  .header-link.current::after {
    bottom: -33px;
  }
}

.header-contacts {
  margin-left: auto;
  display: flex;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contacts-item-second {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-item-second {
    margin-top: 0;
    margin-left: 30px;
  }
}

.contacts-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  display: flex;
  align-items: center;
  fill: var(--grey-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.contacts-link:hover, .contacts-link:focus {
  color: var(--blue-color);
  fill: var(--blue-color);
}
@media screen and (min-width: 1200px) {
  .contacts-link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    justify-content: center;
  }
}

.header-icon-mail {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .header-icon-mail {
    margin-right: 10px;
  }
}

.header-icon-tel {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .header-icon-tel {
    margin-right: 10px;
  }
}

.btn-menu {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.icon-menu {
  fill: var(--dark-color);
}
.icon-menu:hover, .icon-menu:focus {
  fill: var(--blue-color);
}

.mob-menu {
  position: fixed;
  background-color: var(--white-color);
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.btn-close-menu {
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
}

.mob-menu-list {
  margin-left: 25px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.current {
  color: var(--blue-color);
}

.mob-menu-contacts {
  margin-left: 25px;
  margin-bottom: 64px;
}

.mob-menu-tel {
  margin-bottom: 32px;
}

.mob-menu-tel-link {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}
@media screen and (min-width: 480px) {
  .mob-menu-tel-link {
    font-size: 34px;
  }
}

.mob-menu-mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}

.mob-soc-list {
  display: flex;
  margin-bottom: 48px;
  margin-left: 25px;
  flex-wrap: wrap;
  gap: 10px 0;
}
@media screen and (min-width: 480px) {
  .mob-soc-list {
    flex-wrap: nowrap;
    width: 356px;
  }
}

.mob-soc-item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .mob-soc-item {
    gap: 0;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
    padding-right: 10px;
  }
  .mob-soc-item:first-child {
    padding-left: 0px;
  }
  .mob-soc-item:last-child {
    border-right: none;
    padding-right: 0px;
  }
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #C4C4C4;
  background-image: var(--gradient), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--gradient), url(../images/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--gradient), url(../images/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/hero-bg-2x.jpg);
  }
}

.content__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: auto;
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .content__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .content__title {
    font-size: 44px;
    line-height: 60px;
    width: 696px;
  }
}

.content__btn {
  padding: 10px 32px;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  width: 100%;
}
.benefits__item:not(:last-child) {
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__background {
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.benefits__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .benefits__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.working {
  display: none;
}
@media screen and (min-width: 1200px) {
  .working {
    display: flex;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.working__title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin-bottom: 50px;
}

.working__list {
  display: flex;
  gap: 30px;
}

.working__item {
  width: calc((100% - 60px) / 3);
}

.box {
  position: relative;
}

.box__one-title {
  padding: 27px 82px;
}

.box__two-title {
  padding: 27px 85px;
}

.box__three-title {
  padding: 27px 90px;
}

.team {
  background-color: #F5F4FA;
  text-align: center;
}

.team-title {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-names-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  padding-bottom: 10px;
}

.team-post {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  margin-bottom: 16px;
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--blue-color);
  fill: var(--white-color);
}

.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}

.clients-item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .clients-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}

.clients-link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.clients-link:hover, .clients-link:focus {
  fill: var(--blue-color);
  border-color: var(--blue-color);
}
@media screen and (min-width: 480px) {
  .clients-link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}

.footer {
  background-color: #2F303A;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    flex-wrap: nowrap;
  }
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.address-item {
  margin-bottom: 9px;
}

.address-item-second {
  margin-bottom: 9px;
}

.logo-address {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .logo-address {
    width: 232px;
    margin-left: 61px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-address {
    min-width: 231px;
    text-align: unset;
    margin-left: 0;
  }
}

.soc-footer {
  width: 206px;
  min-height: 80px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .soc-footer {
    padding-top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .soc-footer {
    margin-left: 70px;
    margin-right: 0;
    padding-top: 72px;
    padding-bottom: 100px;
    text-align: unset;
  }
}

.soc-footer-title {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.soc-footer-list {
  display: flex;
  gap: 10px;
}

.soc-footer-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.soc-footer-link:hover, .soc-footer-link:focus {
  background-color: var(--blue-color);
}

.address-link {
  color: var(--white-color);
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: var(--blue-color);
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-form {
  width: 450px;
  min-height: 86px;
  margin: 0 auto;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    width: 570px;
    min-height: 86px;
    margin-left: 93px;
    padding-top: 72px;
    padding-bottom: 94px;
    text-align: unset;
  }
}

.form-subscribe {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
  justify-content: space-around;
}
@media screen and (min-width: 1200px) {
  .form-subscribe {
    flex-wrap: nowrap;
  }
}

.input-subscribe {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.input-subscribe::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.input-subscribe:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.input-subscribe::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.input-subscribe:focus {
  outline-color: var(--blue-color);
}
@media screen and (min-width: 480px) {
  .input-subscribe {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .input-subscribe {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-button {
  display: flex;
  padding: 10px 29px;
}
.subscribe-button:hover, .subscribe-button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon-subscribe {
  fill: var(--white-color);
  margin-left: 10px;
}

.portfolio-btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .portfolio-btn-list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-btn-list {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.portfolio-btn-item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  border: transparent;
  min-height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  transition-property: background, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.portfolio-btn-item:not(:last-child) {
  gap: 8px;
}
.portfolio-btn-item:hover, .portfolio-btn-item:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: 100%;
  background: var(--white-color);
  transition-property: background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.portfolio-item:hover {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transform: translateY(0);
}
@media screen and (min-width: 480px) {
  .portfolio-item {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    flex-basis: calc((100% - 60px) / 3);
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.portfolio-links {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.actions {
  position: relative;
  overflow: hidden;
}

.actions-thumb {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 77px 24px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
@media screen and (min-width: 768px) {
  .actions-thumb {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .actions-thumb {
    padding: 63px 24px;
  }
}
.portfolio-item:hover .actions-thumb {
  transform: translateY(0);
}

.portfolio-text {
  flex-grow: 1;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.portfolio-title {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--dark-color);
  padding-bottom: 4px;
}

.portfolio-after-title {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}/*# sourceMappingURL=main.css.map */