.box-title {
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}