.team {
    background-color: #F5F4FA;
    text-align: center;
}

.team-title {
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.03em;
        color: var(--dark-color);
        margin-bottom: 30px;
        @include desktop {
                font-size: 36px;
                line-height: 42px;
                margin-bottom: 50px;
        }
}

.team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

}

.team-item {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        @include tablet {
        width: calc((100% - 30px) / 2);
        }
        @include desktop {
        width: calc((100% - 90px) / 4);
        }
}

.team-text {
        padding-top: 30px;
        padding-bottom: 30px;
}

.team-names-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--dark-color);
        padding-bottom: 10px;
}

.team-post {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--grey-color);
        margin-bottom: 16px;
}

.team-soc {
        display: flex;
        justify-content: center;
        gap: 10px;

}

.team-soc-link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #AFB1B8;
        transition-property: background-color, fill;
        transition-duration: 250ms;
        transition-timing-function: var(--cubic);
        &:hover,
        &:focus {
        background-color: var(--blue-color);
        fill: var(--white-color);
}
}

